<div style="background: #f7f7f7;" id="all">
  <div class="clearfix">
      <div class="item">
          <div class="container text-white">
            <br/><br/><br/><br/><br/>
          	<h2 class="text-center" translate="TRAVELINSURANCE"></h2> 
          	<br/>
          	<hr style="border: 1; height: 1px; background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(135, 206, 250, 0.75), rgba(0, 0, 0, 0));" />
          	<div class="row">
          		<div class="col-md-8 col-md-offset-2">
		          	<div class="progress">
			          	<div class="progress-bar form-control" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 25%; background-color: green;">
							
						</div>
						<div class="progress-bar form-control" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:25%; background-color: blue;">
							<b style="color: white;" translate="STEP2"> </b>
						</div>
						<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:0%">
							Ovo je trece
						</div>
					</div>
					<p class="text-center" style="color: blue;" translate="TOTALPRICE"> </p>
				</div>
			</div>
			<br/><br/>
			<hr style="border: 1; height: 1px; background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(135, 206, 250, 0.75), rgba(0, 0, 0, 0));" />
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="text-center">
						
						<table class="table table-hover table-bordered">
	                    	<thead>
	                        	<th class="info text-center" colspan="2" translate="">
	                        		Polisa osiguranja
	                        	</th>                        
	                        </thead>
	                        <thead>
	                        	<th class="success text-center" translate="">
	                        		Putno osiguranje
	                        	</th>
	                        </thead>
	                        <tbody>
		                    	<tr>
		                    		<td class="text-center">
										Region: <b translate="{{world}}"></b>
		                    		</td>
						        </tr>
						        <tr>
		                    		<td class="text-center">
										Osigurana suma: <b> {{money}}</b> <i class="fa fa-eur"> </i>
		                    		</td>
						        </tr>
						        <tr>
		                    		<td class="text-center">
										Broj korisnika osiguranja: <br/>
										1. Deca : <b> {{kids}}</b> <br/>
										&nbsp 2. Odrasli:  <b> {{grownups}}</b> <br/>
										3. Stariji:  <b> {{olds}}</b> <br/>
		                    		</td>
						        </tr>
						        <tr>
		                    		<td class="text-center">
										Datum vazenja osiguranja: <br/>
										<b> {{dt1 | date:'dd.MM.yyyy'}} </b> do <b> {{dt2 | date:'dd.MM.yyyy'}}</b>
		                    		</td>
						        </tr>
						        <tr ng-if="sportCheckBox">
		                    		<td class="text-center">
										Sport koji ste izabrali: <b> {{selectedSport.subname}}</b>
		                    		</td>
						        </tr>
		                    </tbody>
	                    </table>
	                    <label class="text-center form-control" style="background-color: lightblue;"> Ukupna cena putnog osiguranja: <b>2323</b></label>
	                    <hr style="border: 1; height: 1px; background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(135, 206, 250, 0.75), rgba(0, 0, 0, 0));" />
	                    
	                    <table class="table table-hover table-bordered" ng-if="homeCheckBox">
	                        <thead>
	                        	<th class="success text-center" translate="">
	                        		Osiguranje kuce/stana
	                        	</th>
	                        </thead>
	                        <tbody>	                    
						        <tr>
		                    		<td class="text-center">
										Obuhvata zastitu od: asdasds
		                    		</td>
						        </tr>
		                    </tbody>
	                    </table>
	                    <label ng-if="homeCheckBox" class="text-center form-control" style="background-color: lightblue;"> Cena osiguranja kuce/stana: <b>2323</b></label>
	                    <hr ng-if="homeCheckBox" style="border: 1; height: 1px; background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(135, 206, 250, 0.75), rgba(0, 0, 0, 0));" />
	                    
	                    <table class="table table-hover table-bordered" ng-if="roadCheckBox">
	                        <thead>
	                        	<th class="success text-center" translate="">
	                        		Pomoc na putu
	                        	</th>
	                        </thead>
	                        <tbody>	                    
						        <tr>
		                    		<td class="text-center">
										Obuhvata sledece pakete zastite: asdasds
		                    		</td>
						        </tr>
		                    </tbody>
	                    </table>
	                    <label ng-if="roadCheckBox" class="success text-center form-control" style="background-color: lightblue;"> Cena pomoc na putu: <b>2323</b></label>
	                    <hr ng-if="roadCheckBox" style="border: 1; height: 1px; background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(135, 206, 250, 0.75), rgba(0, 0, 0, 0));" />
					</div>
				</div>
			</div>
			<div class="row">
	             <div class="col-md-8 col-md-offset-2">
		              <table class="table table-hover table-bordered">
		              		<thead>
	                        	<th class="info text-center" translate="">
	                        		Ukupna cena
	                        	</th>
	                        </thead>
	                        <tbody>	                    
						        <tr>
		                    		<td class="text-center">
										Premija osiguranja: <b>321312 </b>
		                    		</td>
						        </tr>
						        <tr>
		                    		<td class="text-center">
										Popust: <b>32 </b>
		                    		</td>
						        </tr>
						        <tr>
		                    		<td class="text-center">
										Porez: <b>45 </b>
		                    		</td>
						        </tr>
						        <tr>
		                    		<td class="warning text-center">
										Ukupna cena za uplatu: <b>455552 </b>
		                    		</td>
						        </tr>
		                    </tbody>
	                    </table>
		          </div>
	        </div>
	        
			<br/>
			<hr style="border: 1; height: 1px; background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(135, 206, 250, 0.75), rgba(0, 0, 0, 0));" />
			<div class="row">
	             <div class="col-md-offset-9">
		             <a ui-sref="insurance"> <button type="button" class="btn btn-warning" data-toggle="tooltip" data-placement="top" title="Back"><i class="fa fa-arrow-left"></i></button> </a>
		             <button type="button" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Next" ng-click="tpc.next()"><i class="fa fa-arrow-right"></i></button>
		          </div>
	        </div>
	            <br/><br/>
            </div>
       </div>
  </div>
</div> 