      <!-- *** FOOTER ***
        _________________________________________________________ -->

            <div class="section" id="footer">
                <div class="container">

                    <div class="row">

                        <div class="col-md-12">

                            <p  class="social pull-right">
                                <a href="#"  class="external facebook" data-animate-hover="shake"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="external gplus" data-animate-hover="shake" ><i class="fa fa-github"></i></a>
                                <a href="#"  class="external twitter" data-animate-hover="shake"><i class="fa fa-twitter"></i></a>
                                <a href="mailto:boltInsuranceGroup@gmail.com"  class="email" data-animate-hover="shake" ><i class="fa fa-envelope"></i></a>
                            </p>
                        </div>
                    </div>

                </div>
            
            </div>
            <!-- /.section -->

            <!-- *** FOOTER END *** -->