 <div id="all" ng-controller="BigController">


            <!-- *** INTRO IMAGE ***
            _________________________________________________________ -->
            <div id="intro" class="clearfix">
                <div class="item">
                    <div class="container">
                        <div class="row">
                            <h1  data-animation="bounceIn"  when-visible="animateElementIn"  class="not-visible">Welcome to the BIG. </h1>
                            <p  data-animation="fadeInUp" when-visible="animateElementIn" class="message not-visible">We are always with you.</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- *** INTRO IMAGE END *** -->

            <!-- *** ABOUT US ***
            _________________________________________________________ -->

            <div class="section  text-gray" id="section1">
                <div class="container">
                    <div class="col-md-12">


                        <h2 data-animation="fadeInUp" class="title not-visible"  when-visible="animateElementIn">Why Bolt?</h2>

                        <div class="row">

                            <div class="col-md-8 col-md-offset-2">

                                <p  data-animation="fadeInUp" when-visible="animateElementIn" class="text-large text-thin not-visible" > Formed in December of 2003. and since then giving everything for you and yours wishes.</p>
                                <p  data-animation="flipInX" when-visible="animateElementIn" class="text-large text-thin margin-bottom not-visible" >We are dedicated group, which only concern is your safety. Available for you 24/7 in any time of day and night. We started as small team of inspired people. But time has proved our qualities and thanks to you, we are one of few insurance groups that has been approved by Software Quality Assurance.</p>

                                <p  when-visible="animateElementIn" data-animation="fadeInRightBig" class="not-visible"><img src="assets/img/team.jpg" alt="" class="img-circle img-responsive"></p>

                            </div>

                        </div>

                    </div>
                    <!-- /.12 -->
                </div>
                <!-- /.container -->
            </div>
            <!-- /.section -->

            <!-- *** ABOUT US END *** -->




            <!-- *** SERVICES ***
            _________________________________________________________ -->
            <div class="section" id="section2">
                <div class="container">
                    <div class="col-md-12">
                        <h2  when-visible="animateElementIn" class="title not-visible" data-animation="fadeInDown">Services we provide</h2>
                        
                        <p class="lead">Welcome to our online insurance shop. </p>
                        
                            <div  when-visible="animateElementIn" class="col-md-4 col-md-offset-4 not-visible" data-animation="fadeInUp">
                                <a ui-sref="insurance_users"><img src="assets/img/travel-scams.jpg" class="img-responsive img-circle"/> </a>                        
                                <h3 class="heading">Travel insurance</h3>
                                <p>Going to trip? This is a great chance to be safe wherever you are going. </p>
                            </div>
                    </div>
                    <!-- /.12 -->
                </div>
                <!-- /.container -->
            </div>
            <!-- /.section -->

            <!-- *** SERVICES END *** -->


            <!-- *** TESTIMONIALS ***
            _________________________________________________________ -->

            <div  when-visible="animateElementIn" class="section text-gray not-visible" id="section3" data-animation="fadeInUp">

                <div class="container">
                    <div class="col-md-12">

                        <div class="mb20">
                            <h2  when-visible="animateElementIn" class="title not-visible" data-animation="fadeInUp">Customers said about us</h2>

                            <p  when-visible="animateElementIn" class="lead text-center not-visible" data-animation="fadeInUp">Have any complaints? Or you just want to say a nice word for us. Dont be afraid to say anything you want. We are open for any kind of suggestions or critics. </p>
                        </div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-3">
                                    <blockquote>
                                        <p>
                                         One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections.
                                     </p>
                                     <span><h5 class="fa fa-quote-left"> John McIntyre</h5>
                                     </blockquote>
                                 </div>
                                 <div class="col-md-3">
                                    <blockquote>
                                        <p>
                                         The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. "What's happened to me? " he thought. It wasn't a dream.
                                     </p>
                                     <span><h5 class="fa fa-quote-left"> John McIntyre</h5>

                                     </blockquote>
                                 </div>
                                 <div class="col-md-3">
                                    <blockquote>
                                     <p>His room, a proper human room although a little too small, lay peacefully between its four familiar walls.</p>

                                     <span><h5 class="fa fa-quote-left"> John McIntyre</h5>
                                     </blockquote>
                                 </div>
                                 <div class="col-md-3">
                                    <blockquote>
                                        <p>
                                         It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to look out the window at the dull weather. Drops of rain could be heard hitting the pane, which made him feel quite sad.
                                     </p>
                                     <span><h5 class="fa fa-quote-left"> John McIntyre</h5>
                                     </blockquote>
                                 </div>
                             </div>
                         </div>

                         <button type="button" class="btn btn-primary">Add your comment</button>
                     </div> <!-- /.12 -->
                 </div> <!-- /.container -->

             </div><!-- /.section -->

             <!-- *** TESTIMONIALS END *** -->

            <!-- *** CONTACT ***
            _________________________________________________________ -->

            <div class="section" id="section4" >
                <div class="container">
                    <div class="col-md-8 col-md-offset-2">


                        <h2 when-visible="animateElementIn" class="title not-visible" data-animation="fadeInDown">Contact us</h2>

                        <p  when-visible="animateElementIn" class="lead margin-bottom not-visible" data-animation="fadeInUp">Be always in touch with us, at any time of day or night. If you have any questions or issues, feel free to ask or send at our e-mail adress.</p>


                        <ul when-visible="animateElementIn" class="list-unstyled text-large text-thin not-visible" data-animation="fadeInUp">
                            <li><strong>E-mail:</strong> boltInsuranceGroup@gmail.com</li>
                            <li><strong>Phone:</strong> +381625858580</li>
                            <li><strong>Phone:</strong> +381635858580</li>
                        </ul>

                    </div>
                    <!-- /.12 -->
                </div>
                <!-- /.container -->
            </div>
            <!-- /.section -->




        </div>