<div class="modal-header">
    <h3 class="modal-title" translate="PLEASEENTERINFOOFVEHICLE">Please enter informations about your house or flat</h3>
</div>
<div class="modal-body">
    <form class="form-horizontal">
    <div class="form-group">
    	<div class="col-sm-8 col-sm-offset-2">
    		<label class="form-control text-center" style="background-color: lightblue; " translate="OWNERNAME"> </label> <input class="form-control" type="text" ng-model="vmc.vehicle.ownername" id="ownerName" name="ownerName" placeholder="{{'OWNERNAME'|translate}}"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-8 col-sm-offset-2">
            <label class="form-control text-center" style="background-color: lightblue; " translate="OWNERSURNAME"> </label> <input class="form-control" type="text" ng-model="vmc.vehicle.ownersurname" id="ownerSurname" name="ownerSurname" placeholder="{{'OWNERSURNAME'|translate}}"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-8 col-sm-offset-2">
            <label class="form-control text-center" style="background-color: lightblue; " translate="OWNERJMBG"> </label> <input class="form-control" type="text" ng-model="vmc.vehicle.ownerjmbg" id="ownerJmbg" name="ownerJmbg" placeholder="{{'OWNERJMBG'|translate}}">
        </div>
    </div>
    <div class="form-group">
    	<div class="col-sm-8 col-sm-offset-2">
    		<label class="form-control text-center" style="background-color: lightblue; " translate="TYPEOFVEHICLE"> </label> <input class="form-control" type="text" ng-model="vmc.vehicle.typeofvehicle" id="type" name="type" placeholder="{{'TYPEOFVEHICLE'|translate}}"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-8 col-sm-offset-2">
            <label class="form-control text-center" style="background-color: lightblue; " translate="YEAROFMANUFACTURE"> </label> <input class="form-control" type="text" ng-model="vmc.vehicle.yearofmanufacture" id="year" name="year" placeholder="{{'YEAROFMANUFACTURE'|translate}}"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-8 col-sm-offset-2">
            <label class="form-control text-center" style="background-color: lightblue; " translate="LICENCEPLATESNUMBER"> </label> <input class="form-control" type="text" ng-model="vmc.vehicle.licenceplatesnumber" id="plates" name="plates" placeholder="{{'LICENCEPLATESNUMBER'|translate}}">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-8 col-sm-offset-2">
            <label class="form-control text-center" style="background-color: lightblue; " translate="NUMBEROFCHASSIS"> </label> <input class="form-control" type="text" ng-model="vmc.vehicle.numberofchassis" id="chassis" name="chassis" placeholder="{{'NUMBEROFCHASSIS'|translate}}">
        </div>
    </div>
    </form>
</div>
<div class="modal-footer">
	<div class="col-sm-6 col-sm-offset-2">
	    <button class="btn btn-success" type="button" ng-click="vmc.ok()" translate="OK"></button>
	    <button class="btn btn-warning" type="button" ng-click="vmc.cancel()" translate="CANCEL"></button>
	</div>
</div>