<div id="all">
  <div class="clearfix">
      <div class="item">
          <div class="container">
              <div class="row">
                <div class="col-md-8 col-md-offset-2">
                  <br/><br/><br/><br/><br/><br/>
                  <h2 class="text-center">Insurance users</h2>           
                  <table class="table table-hover table-bordered text-center">
                    <thead> 
                    	<th class="info text-center">
                    		Name
                    	</th>   
                    	<th class="info text-center">
                    		Surname
                    	</th>            
                    </thead>
                    <tbody>
                    	<tr>
				            <td>aaaaaa</td>
				            <td>bbbbbb</td>
				        </tr>
                    </tbody>
                  </table>
                  
                  <div class="row">
                  	<div class="col-md-5 col-md-offset-3">
                  		<div class="text-center">
			              &nbsp&nbsp<a ui-sref="home"> <button type="button" class="btn btn-warning" data-toggle="tooltip" data-placement="top" title="Back"><i class="fa fa-arrow-left"></i></button></a>
			              <button type="button" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Add new user" ng-click="inc.newUser()"><i class="fa fa-plus-circle"></i></button> 
			           </div>   
                  	</div>
                  </div>      
                  <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
              </div>
            </div>
          </div>
      </div>
  </div>
</div>