<div id="all">
  <div class="clearfix">
      <div class="item">
          <div class="container">
              <div class="row">
                <br/><br/><br/><br/><br/><br/>
                <h3 class="text-center">Insurance</h3>
                <table class="table table-hover table-bordered">
                  <thead>
                  <tr class="active">
                    <td><input class="form-control" id="user_name" name="user_name" placeholder="Your name"></td>
                  </tr>
                  <tr class="active">
                    <td><input class="form-control" id="surname" name="surname" placeholder="Your surname"></td>
                  </tr>
                  <tr class="active">
                    <td><input class="form-control" id="jmbg" name="jmbg" placeholder="Your JMBG"></td>
                  </tr>
                  <tr class="active">
                    <td><input class="form-control" id="address" name="address" placeholder="Your address"></td>
                  </tr>
                  <tr class="active">
                    <td><input class="form-control" id="passport" name="passport" placeholder="Your passport number"></td>
                  </tr>
                  <tr class="active">
                    <td><input class="form-control" id="phone" name="phone" placeholder="Your phone number"></td>
                  </tr>
                  <tr class="active">
                    <td><input type="email" class="form-control" id="email" name="email" placeholder="Your email"></td>
                  </tr>
                  <tr class="active text-center">
                    <td>
                      <button type="button" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Reset form"><i class="fa fa-times"></i></button>
                      <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Next"><i class="fa fa-arrow-right"></i></button>
                    </td>
                  </tr>
                  </thead>
                </table>
                <br/><br/><br/><br/><br/><br/><br/><br/><br/>
              </div>
          </div>
      </div>
  </div>
</div>
