<div class="modal-header">
	<h2 class="text-center" style="color: lightblue;" translate=OFFERSHOUSE></h2>
</div>
<div class="modal-body">
	<table class="table table-hover table-bordered">
		<thead>
			<th class="info text-center"  translate="RISK">
			</th>
			<th class="info text-center"  translate="INSURANCECOVERS">
			</th>
		</thead>
		<tbody class="text-center">
			<tr>
				<td translate="FIRE"> </td>
				<td translate="FIRECOVERS"> </td>
			</tr>
			<tr>
				<td translate="FLOOD">  </td>
				<td translate="FLOODCOVERS"> </td>
			</tr>
			<tr>
				<td translate="THEFT"> </td>
				<td translate="THEFTCOVERS"> </td>
			</tr>
			<tr>
				<td translate="EARTHSHAKE">  </td>
				<td translate="EARTHSHAKECOVERS"> </td>
			</tr>
		</tbody>
	</table>
<div class="modal-footer">
</div>