/* your styles go here */
.not-visible {
  visibility: hidden;
}
#section1{
	overflow-x:hidden; 
}

.state-form input.ng-invalid.ng-touched {
	border:1px solid #a94442;
}

.errorValidation {
	border:1px solid #a94442;
}

input[type="text"], input[type="email"], option {
	background-color: #e5eef7;
}

body { 
    padding-top: 65px; 
}
