<div class="modal-header">
    <h3 class="modal-title">Please enter informations for an insurance user</h3>
</div>
<div class="modal-body">
    <form class="form-horizontal">
    <div class="form-group">
    	<div class="col-sm-8 col-sm-offset-2">
    		<input class="form-control" type="text" id="name" name="name" placeholder="Your name"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-8 col-sm-offset-2">
            <input class="form-control" type="text" id="surname" name="surname" placeholder="Your surname"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-8 col-sm-offset-2">
            <input class="form-control" type="text" id="jmbg" name="jmbg" placeholder="Your JMBG">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-8 col-sm-offset-2">
            <input class="form-control" type="text" id="address" name="address" placeholder="Your address">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-8 col-sm-offset-2">
           <input class="form-control" id="passport" name="passport" placeholder="Your passport number">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-8 col-sm-offset-2">
           <input class="form-control" id="phone" name="phone" placeholder="Your phone number">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-8 col-sm-offset-2">
           <input type="email" class="form-control" id="email" name="email" placeholder="Your email" ng-if="owner">
        </div>
    </div>
    <div class="form-group text-center">
        <div class="col-sm-8 col-sm-offset-2">
           <label> Owner: <input type="checkbox" class="form-control" ng-model="owner" id="owner" name="owner" placeholder="Your email"/> </label>
        </div>
    </div>
    </form>
</div>
<div class="modal-footer">
	<div class="col-sm-6 col-sm-offset-2">
	    <button class="btn btn-success" type="button" ng-click="umc.ok()">OK</button>
	    <button class="btn btn-warning" type="button" ng-click="umc.cancel()">Cancel</button>
	</div>
</div>