<div class="modal-header">
    <h3 class="modal-title" translate="PLEASEENTERINFOUSER"> </h3>
</div>
<div class="modal-body">
    <form class="form-horizontal">
    <div class="form-group">
    	<div class="col-sm-8 col-sm-offset-2">
    		<input class="form-control" type="text" id="name" name="name" placeholder="{{'NAME'|translate}}"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-8 col-sm-offset-2">
            <input class="form-control" type="text" id="surname" name="surname" placeholder="{{'SURNAME'|translate}}"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-8 col-sm-offset-2">
            <input class="form-control" type="text" id="jmbg" name="jmbg" placeholder="{{'JMBG'|translate}}">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-8 col-sm-offset-2">
            <input class="form-control" type="text" id="address" name="address" placeholder="{{'ADDRESS'|translate}}">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-8 col-sm-offset-2">
           <input class="form-control" id="passport" name="passport" placeholder="{{'PASSPORTNUMBER'|translate}}">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-8 col-sm-offset-2">
           <input class="form-control" id="phone" name="phone" placeholder="{{'PHONE2'|translate}}">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-8 col-sm-offset-2">
           <input type="email" class="form-control" id="email" name="email" placeholder="{{'EMAIL2'|translate}}" ng-if="owner">
        </div>
    </div>
    <div class="form-group text-center">
        <div class="col-sm-8 col-sm-offset-2">
           <label> <a translate="OWNEROFINSURANCE"></a> <input type="checkbox" class="form-control" ng-model="owner" id="owner" name="owner" placeholder="{{'EMAIL2'|translate}}"/> </label>
        </div>
    </div>
    </form>
</div>
<div class="modal-footer">
	<div class="col-sm-6 col-sm-offset-2">
	    <button class="btn btn-success" type="button" ng-click="umc.ok()" translate="OK"></button>
	    <button class="btn btn-warning" type="button" ng-click="umc.cancel()" translate="CANCEL"></button>
	</div>
</div>